header{
    background-color: $bg-nav;
    nav{
        font-family: $raleway;
    }
        .nav-link{
        font-weight: bold;
        font-size: large;
        color: rgb(250, 196, 250)
        }
}