main{
    background: $bg-main;
    .portada{
        background: url("../assets/imagenes/imgportada.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
        #seccionprincipal {
            background: $bg-rosado;
            box-shadow: 10px 15px 55px;
            transition: 2s;
            img{
                height: 180px;
                width: 180px;
                &:hover{
                    width: 200px;
                    height: 200px;
                }
            }
        
        }
        .imagenhome{
            img{
                height: 250px;
            }  
        }
}