main{
    background: $bg-main;
    .portada{
        background: url("../assets/imagenes/imgportada.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
    }
        #seccionprincipal {
            background: $bg-rosado;
            box-shadow: 15px 15px 55px;
            img{
                height: 160px;
                width: 160px;
            }
        
        }
        .imagenhome{
            img{
                height: 230px;
            }  
        }
}