main{
    .carouselcontenido{
    p{
        color: $negro;
    }
    img{
        height: 600px;
        width: 800px;
    }
    }
    .equipo{
        img{
            height: 200px;
        }
    }
}