.staff{
    .imagenstaff{
        img{
            height: 200px;
            transition: transform 1s;
            &:hover{
                transform:rotateY(360deg);
            }
        }
    }
    .consorcios{
        .imagenconsorcio{
            img{
                height: 300px
            }
        }
        ul{
            li{
                @include reseteo-lista;
            }
        }
    }
}